<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../static/css/styles.css">

    <title>Event Details</title>
</head>

<body>

    <div class="container">
<!--        <div class="header">-->
<!--            <h2>Welcome, <span id="username">Rahma</span></h2>-->
<!--            <div class="header-icons">-->
<!--                <a href="\base" class="icon-link">Dashboard <i class="ri-dashboard-line"></i></a>-->
<!--                <a href="\profile" class="icon-link">Profile <i class="ri-user-line"></i></a>-->
<!--            </div>-->
<!--        </div>-->
        <div class="login__content">
            <div class="title-container">
                <h1 class="main-title"><span>I</span><br><span>LOVE</span><br><span>VOLUNTEERING</span></h1>
            </div>
            <div class="event_details">
                <h2>Event Details</h2>

                <table class="display_table">
                  <tr>
                    <td class="event__label"><strong>Event Name</strong></td>
                    <td><span id="eventName">{{ event_name }}</span></td>
                  </tr>
                  <tr>
                    <td><strong>Event Description</strong></td>
                    <td><span id="eventDescription">{{ event_description }}</span></td>
                  </tr>
                  <tr>
                    <td><strong>Location</strong></td>
                    <td><span id="location"></span>{{ event_location }}</td>
                  </tr>
                  <tr>
                    <td><strong>Required Skills</strong></td>
                    <td><span id="requiredSkills">{{ required_skills | join(', ') }}</span></td>
                  </tr>
                  <tr>
                    <td><strong>Urgency</strong></td>
                    <td><span id="urgency">{{ urgency }}</span></td>
                  </tr>
                  <tr>
                    <td><strong>Event Date</strong></td>
                    <td><span id="eventDate">{{ event_date }}</span></td>
                  </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
