<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../static/css/styles.css">

    <title>User Profile Management - We Love Volunteering</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Welcome, <span id="username" style="color:#44958f;">{{ username }}</span>!</h2>
            <div class="header-icons">
                <a href="/base" class="icon-link">Dashboard<i class="ri-dashboard-line"></i></a>
                <a href="/notifications" class="icon-link">Notification<i class="ri-notification-line"></i></a>
                <a href="/logout" class="icon-link">Logout <i class="ri-logout-box-line"></i></a>
            </div>
        </div>
        <div class="content">
            <div class="title-container">
                <h1 class="page-title">User Profile Management</h1>
            </div>
            <div class="profile-container">
                <form action="#" class="profile-form" id="profile-form">
                    <div class="form-column">
                        <div class="form-group">
                            <label for="full-name">Full Name</label>
                            <input type="text" id="full-name" name="full-name" value="{{ full_name }}" placeholder="Enter your full name" required>
                        </div>
                        <div class="form-group">
                            <label for="dob">Date of Birth</label>
                            <input type="date" id="dob" value="{{ dob }}" name="dob" required>
<!--                            <input type="date" id="availability" value="{{ availability }}" name="availability" multiple required>-->
                        </div>

                        <div class="form-group">
                            <label for="skills">Skills</label>
                            <select id="skills" name="skills" multiple required>
                                {% for skill in skills %}
                                       <option value="{{ skill }}" selected> * {{ skill }}</option>
                                {% endfor %}
                                <option value="Environmental Awareness">Environmental Awareness</option>
                                <option value="Physical Fitness">Physical Fitness</option>
                                <option value="Teamwork">Teamwork</option>
                                <option value="Event Planning">Event Planning</option>
                                <option value="Public Speaking">Public Speaking</option>
                                <option value="Organization">Organization</option>
                                <option value="Customer Service">Customer Service</option>
                                <option value="Lifting">Lifting</option>
                                <option value="Patience">Patience</option>
                                <option value="Communication">Communication</option>
                                <option value="Mentoring">Mentoring</option>
                                <option value="Conflict Resolution">Conflict Resolution</option>
                                <option value="Creativity">Creativity</option>
                                <option value="Customer Service">Customer Service</option>
                                <!-- Add more skill options as needed -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="preferences">Preferences</label>
                            <textarea id="preferences" name="preferences" value="{{ preferences }}" placeholder="Enter your preferences (optional)">{{preferences}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="availability">Availability</label>
<!--                            <input type="date" id="availability" name="availability" multiple required>-->
                            <input type="date" id="availability" value="{{ availability }}" name="availability" multiple required>
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="form-group">
                            <label for="address1">Address 1</label>
                            <input type="text" id="address1" name="address1" value="{{ address1 }}" placeholder="Enter your address" required>
                        </div>
                        <div class="form-group">
                            <label for="address2">Address 2</label>
                            <input type="text" id="address2" name="address2" value="{{ address2 }}" placeholder="Enter your address (optional)">
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" id="city" name="city" value="{{ city }}" placeholder="Enter your city" required>
                        </div>
                        <div class="form-group">
                            <label for="state">State</label>
                            <select id="state" name="state" required>
<!--                            <select id="state" name="state" value="{{ state }}" required>-->
<!--                                <option value="">Select your state</option>-->
                                <option value="{{ state }}" selected>{{ state }}</option>
                                <option value="AL">AL</option>
                                <option value="AK">AK</option>
                                <option value="AR">AR</option>
                                <option value="AZ">AZ</option>
                                <option value="CA">CA</option>
                                <option value="CO">CO</option>
                                <option value="CT">CT</option>
                                <option value="DC">DC</option>
                                <option value="DE">DE</option>
                                <option value="FL">FL</option>
                                <option value="GA">GA</option>
                                <option value="HI">HI</option>
                                <option value="IA">IA</option>
                                <option value="ID">ID</option>
                                <option value="IL">IL</option>
                                <option value="IN">IN</option>
                                <option value="KS">KS</option>
                                <option value="KY">KY</option>
                                <option value="LA">LA</option>
                                <option value="MA">MA</option>
                                <option value="MD">MD</option>
                                <option value="ME">ME</option>
                                <option value="MI">MI</option>
                                <option value="MN">MN</option>
                                <option value="MO">MO</option>
                                <option value="MS">MS</option>
                                <option value="MT">MT</option>
                                <option value="NC">NC</option>
                                <option value="NE">NE</option>
                                <option value="NH">NH</option>
                                <option value="NJ">NJ</option>
                                <option value="NM">NM</option>
                                <option value="NV">NV</option>
                                <option value="NY">NY</option>
                                <option value="ND">ND</option>
                                <option value="OH">OH</option>
                                <option value="OK">OK</option>
                                <option value="OR">OR</option>
                                <option value="PA">PA</option>
                                <option value="RI">RI</option>
                                <option value="SC">SC</option>
                                <option value="SD">SD</option>
                                <option value="TN">TN</option>
                                <option value="TX">TX</option>
                                <option value="UT">UT</option>
                                <option value="VT">VT</option>
                                <option value="VA">VA</option>
                                <option value="WA">WA</option>
                                <option value="WI">WI</option>
                                <option value="WV">WV</option>
                                <option value="WY">WY</option>
                                <!-- Add more state options as needed -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="zip">Zip Code</label>
                            <input type="text" id="zip" name="zip" value="{{ zipcode }}" placeholder="Enter your zip code" required>
                        </div>
                    </div>
                    <button type="submit" class="submit-button">Update Profile</button>
                </form>
            </div>
        </div>
        <footer class="footer">
            &copy; 2024 We Love Volunteering. All rights reserved.
        </footer>
    </div>

    <!--=============== MAIN JS ===============-->
    <script src="../static/js/main.js"></script>
    <script>
        document.getElementById('profile-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = {
                fullName: document.getElementById('full-name').value,
                dob: document.getElementById('dob').value,
                address1: document.getElementById('address1').value,
                address2: document.getElementById('address2').value,
                city: document.getElementById('city').value,
                state: document.getElementById('state').value,
                zip: document.getElementById('zip').value,
                skills: Array.from(document.getElementById('skills').selectedOptions).map(option => option.value),
                preferences: document.getElementById('preferences').value,
                availability: document.getElementById('availability').value
            };
            console.log("formData==>",formData)

            fetch('/profile/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            })
            .catch(error => console.error('Error updating profile:', error));
        });
    </script>
</body>
</html>
